.editorconfig
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/Teremok/config/applicationhost.config
.vs/Teremok/FileContentIndex/9ac39b87-05a7-4255-ae32-00a34fabb6c6.vsidx
.vs/Teremok/v17/.wsuo
.vs/Teremok/FileContentIndex/044c5df3-d017-4e62-914f-1fa843bd2dd6.vsidx
